In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("spam.csv", encoding = "latin-1")

In [4]:
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [11]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [12]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
data['class']=data['class'].map({'ham':0, 'spam':1})

KeyError: 'class'

In [43]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
cv=CountVectorizer()

In [46]:
x=data['v2']
y=data['v1']

In [47]:
x.shape

(5572,)

In [48]:
y.shape

(5572,)

In [49]:
x=cv.fit_transform(x)

In [50]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1.The Cat
2.The Dog
3.The Bird

    The  Cat  Dog  Bird
1.   1    1    0    0
2.   1    0    1    0
3.   1    0    0    1

In [54]:
from sklearn.model_selection import train_test_split

In [61]:
x_train, x_test,y_train, y_test=train_test_split(x,y, test_size=0.2)

In [62]:
x_train.shape

(4457, 8672)

In [63]:
from sklearn.naive_bayes import MultinomialNB

In [64]:
model=MultinomialNB()

In [65]:
model.fit(x_train, y_train)

MultinomialNB()

In [67]:
result = model.score(x_test, y_test)

In [68]:
result= result*100

In [69]:
result

98.02690582959642

In [70]:
import pickle

In [71]:
pickle.dump(model, open('spam.pkl','wb'))

In [72]:
pickle.dump(cv, open('Vectorizer','wb'))

In [73]:
clf = pickle.load(open('spam.pkl','rb'))

In [74]:
clf

MultinomialNB()

In [79]:
msg="you win $1000"
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)
print(my_prediction)

['spam']